Link al repositorio de GitHub.txt
__pycache__/
analizador.txt
app_matematica.py
ayuda_funcion.txt
comentarios.csv
extras/desktop.ini
fuente_unico.csv
lib_matematica.py
panel_general.csv
participacion.txt
programas.txt
programas_ejemplo.txt
sorted_app_matematica.py
sorted_lib_matematica.py